@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse.woff2') format('woff2'),
        url('fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body { 
    font-family: sans-serif, Tahoma, Verdana;
    height: 100%; 
}
.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.image-panel {
    background-image: url('img/forest.jpg');
    background-size: cover;
    background-position: center;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.form-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 0.5rem; 
}

.form-group {
    flex: 1;
    display:flex;
    flex-direction: column;
}

.logo-overlay {
    align-self: center;       
}

.image-credit,
.image-credit a{
    color: #fff;
}